.contenPrincipal {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  box-shadow: 8px 8px 5px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 280px;
  height: 280px;
}
.imageDog {
  width: 100%;
  height: 10em;
  border-radius: 10px;
}

.h2Card {
  font-size: 15px;
  text-align: center;
  margin-top: -20px;
  text-decoration: none;
}
.h4Card {
  font-size: 12px;
  margin: 0;
}
.h5Card {
  margin-top: 15px;
  margin-bottom: 6px;
}
.linkCard {
  text-decoration: none;
}