.imageDetail {
    height: 300px;
    margin-top: 30px;
    border-radius: 30px;
}
.contenButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
}
.buttonHomeDetail {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
    background-color: transparent;
    border: solid;
    border-radius: 8px;
    font-size: 17px;
}
.buttonHomeDetail:hover {
    cursor: pointer;
    color: bisque;
}
.buttonCreateDetail {
    background-color: transparent;
    border: solid;
    border-radius: 8px;
    font-size: 17px;
    padding: 10px; 
}
.buttonCreateDetail:hover {
    cursor: pointer;
    color: bisque;
}
.h1Card {
    font-family: initial;
    font-size: 40px;
  }
.h3Card {
    font-family: initial;
    font-size: 12px;
}
.divDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 16px 16px 16px black;
    max-width: fit-content;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
}
